FlujoNode-Red.json
[{"id":"a8d2705.edc499","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d42545fc.b93fc8","type":"function","z":"a8d2705.edc499","name":"","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":260,"wires":[["b13b282b.5ece3"]]},{"id":"320906bf.03384a","type":"telegram receiver","z":"a8d2705.edc499","name":"","bot":"efd5bd3b.106ec8","saveDataDir":"","x":210,"y":160,"wires":[["d42545fc.b93fc8"],["d42545fc.b93fc8"]]},{"id":"63576d15.15d81c","type":"telegram sender","z":"a8d2705.edc499","name":"","bot":"efd5bd3b.106ec8","x":940,"y":520,"wires":[[]]},{"id":"95b87956.245c08","type":"function","z":"a8d2705.edc499","name":"","func":"general = msg.payload.output.generic\nmsg.payload.content = []\n\nif(general[1].response_type == \"image\"){\n    msg.payload.content = general[1].source +\"\\n\"\n    msg.payload.chatId=msg.chatId\n    msg.payload.type=\"photo\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":460,"wires":[["63576d15.15d81c"]]},{"id":"bc82dcdd.6bdcd","type":"function","z":"a8d2705.edc499","name":"","func":"general = msg.payload.output.generic\nmsg.payload.content = []\n\nfor(let i = 0; i < general.length; i++){\n    if(general[i].response_type == \"text\"){\n        msg.payload.content += general[i].text +\"\\n\"\n        msg.payload.chatId=msg.chatId\n        msg.payload.type=\"message\"\n        msg.payload.options = {\n        \tparse_mode:'HTML'\n    \t}\n    }\n\n    if(general[i].response_type == \"option\"){\n        opciones = general[i].options\n        keyboard_array = []\n        for(let j = 0; j < opciones.length; j++){\n        keyboard_array.push([{text: general[i].options[j].value.input.text}])\n        }\n        msg.payload.chatId=msg.chatId\n        msg.payload.type=\"message\"\n        msg.payload.options={ \n            parse_mode:'HTML',\n            reply_to_message_id:msg.messageId,\n            reply_markup:{\n            keyboard: keyboard_array,\n            'resize_keyboard': true,\n            'one_time_keyboard': true\n            }\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":340,"wires":[["63576d15.15d81c"]]},{"id":"fff95e12.057208","type":"switch","z":"a8d2705.edc499","name":"","property":"payload.output.generic[1].response_type","propertyType":"msg","rules":[{"t":"eq","v":"image","vt":"str"},{"t":"eq","v":"text","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":660,"y":400,"wires":[["95b87956.245c08"],["241cada6.ff129a"]]},{"id":"d6cbb264.1a0868","type":"switch","z":"a8d2705.edc499","name":"","property":"payload.output.generic[0].response_type","propertyType":"msg","rules":[{"t":"eq","v":"text","vt":"str"},{"t":"eq","v":"image","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":280,"wires":[["bc82dcdd.6bdcd"],["dcf854fd.0deff"]]},{"id":"e0630691.51f708","type":"switch","z":"a8d2705.edc499","name":"","property":"payload.output.generic[3].response_type","propertyType":"msg","rules":[{"t":"eq","v":"image","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":620,"wires":[["17598fb8.b4a36"]]},{"id":"17598fb8.b4a36","type":"function","z":"a8d2705.edc499","name":"","func":"general = msg.payload.output.generic\nmsg.payload.content = []\n\nif(general[3].response_type == \"image\"){\n    msg.payload.content = general[3].source +\"\\n\"\n    msg.payload.chatId=msg.chatId\n    msg.payload.type=\"photo\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":680,"wires":[["63576d15.15d81c"]]},{"id":"fdbcb82b.72c79","type":"switch","z":"a8d2705.edc499","name":"","property":"payload.output.generic[2].response_type","propertyType":"msg","rules":[{"t":"eq","v":"image","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":520,"wires":[["a082e63.58cf018"]]},{"id":"a082e63.58cf018","type":"function","z":"a8d2705.edc499","name":"","func":"general = msg.payload.output.generic\nmsg.payload.content = []\n\nif(general[2].response_type == \"image\"){\n    msg.payload.content = general[2].source +\"\\n\"\n    msg.payload.chatId=msg.chatId\n    msg.payload.type=\"photo\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":580,"wires":[["63576d15.15d81c"]]},{"id":"dcf854fd.0deff","type":"function","z":"a8d2705.edc499","name":"","func":"general = msg.payload.output.generic\nmsg.payload.content = []\n\nif(general[0].response_type == \"image\"){\n    msg.payload.content = general[0].source +\"\\n\"\n    msg.payload.chatId=msg.chatId\n    msg.payload.type=\"photo\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":380,"wires":[["63576d15.15d81c"]]},{"id":"241cada6.ff129a","type":"function","z":"a8d2705.edc499","name":"","func":"general = msg.payload.output.generic\nmsg.payload.content = []\nfor(let i = 0; i < general.length; i++){\n    if(general[i].response_type == \"text\"){\n        msg.payload.content += general[i].text +\"\\n\"\n        msg.payload.chatId=msg.chatId\n        msg.payload.type=\"message\"\n        msg.payload.options = {\n        \tparse_mode:'HTML'\n    \t}\n    }\n\n    if(general[i].response_type == \"option\"){\n        opciones = general[i].options\n        keyboard_array = []\n        for(let j = 0; j < opciones.length; j++){\n        keyboard_array.push([{text: general[i].options[j].value.input.text}])\n        }\n        msg.payload.chatId=msg.chatId\n        msg.payload.type=\"message\"\n        msg.payload.options={ \n            parse_mode:'HTML',\n            reply_to_message_id:msg.messageId,\n            reply_markup:{\n            keyboard: keyboard_array,\n            'resize_keyboard': true,\n            'one_time_keyboard': true\n            }\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":500,"wires":[["63576d15.15d81c"]]},{"id":"c41c23f7.ee6bb8","type":"debug","z":"a8d2705.edc499","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":160,"wires":[]},{"id":"b13b282b.5ece3","type":"watson-conversation-v1","z":"a8d2705.edc499","name":"Rick y tú","workspaceid":"dc7d14ed-8fd8-4af6-906d-b54b33139d11","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://gateway-lon.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":500,"y":380,"wires":[["c41c23f7.ee6bb8","d6cbb264.1a0868","fff95e12.057208","fdbcb82b.72c79","e0630691.51f708"]]},{"id":"efd5bd3b.106ec8","type":"telegram bot","z":"","botname":"Rick y tú","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]